@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
:root {
    --main-color:#f7a93d;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
ul {
    list-style:  none;
}
a {
    text-decoration: none;
    color: #ffffff;
}
header {
    position: relative;
}
.header-top {
    background-color: #d08b2b;
}
.header-top ul {
   width: 100% ;
 list-style: none;
 display: flex;
 justify-content: flex-end;
 align-items: center;
}

.header-top ul li {
    height: 50px;
}
.header-top ul li:first-child {
    margin-right: auto;
    align-items: center;
    display: flex;
    padding-top: 10px;
}
.header-top ul li a {
   height: 100%;
    color: rgb(255, 255, 255);
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.header-top ul li a:hover {
    color: rgb(215, 129, 48);
    background-color: #f8f8f8;
  box-shadow: 0 0 0 5px #ced1d55f;
  transition: 0.3s;
}
.header-content-left {
    position: absolute;
    top: 50px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.1) ;
    padding: 30px 50px 0px 50px;
    text-align: center;
    width: 400px;
}
.header-content-left> h1 {
    color: snow;
}
/*18/4 */
.container {
    position: relative;
}

.container > .background, .container > .list-images {
    width: 90%;
    height: 400px;
    margin-top: 50px;
   
}

.background {
    position: absolute;
    overflow: hidden;

}

.list-images {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.list-images > img {
    width:250px ;
    margin-left: 30px;
     
    
    
}
.P1GD {
    position: absolute;
    text-align: center;
    top: 370px;
    left: 30px;
    width: 100px;
    height: 30px;
    background-color: rgb(200, 200, 200 , 0.8);
}
.P1GD:hover{
    cursor: pointer;
    opacity: 0.7;
    transition: all .3s ease;
    box-shadow: bisque;

}
.Eatandrelax {
    position: absolute;
    text-align: center;
    left: 310px;
    width: 150px;
    height: 30px;
    background-color: rgb(200, 200, 200 , 0.8);
}
.Eatandrelax:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: all .3s ease;
    box-shadow: bisque;
}
.P2GD {
    position: absolute;
    text-align: center;
    top: 370px;
    left: 593px;
    width: 100px;
    height: 30px;
    background-color: rgb(200, 200, 200 , 0.8); 
}
.P2GD:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: all .3s ease;
    box-shadow: bisque;
}
.P1GC {
    position: absolute;
    text-align: center;
    left: 1020px;
    width: 100px;
    height: 30px;
    background-color: rgb(200, 200, 200 , 0.8); 
}
.P1GC:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: all .3s ease;
    box-shadow: bisque;
}
.bg { 
	background-color:#EEECDB;
	width:100%;
	height:100%;
	position:absolute;
    border: none;
}
.bg1 {
    background-color: #ffffff;
    width: 90%;
    height: 80%;
    margin-left: 100px;
    margin-top: 10px;
    margin-right: 100px;
    margin-bottom: 100px;   
}
.tieudesv {
    width: 300px;
    margin-left: 100px;
}
.svbt {
    margin-top: 500px;
    margin-left: 550px;
    height: 50px;
    text-align: center;
    background-color: #EEECDB;
    width: 200px;
    
    
    
}
.svbt:hover {
    cursor: pointer;
    opacity: 0.7;
    background-color: #676864;
}
/*---------------------
  Footer Section
-----------------------*/

.footer-section {
	background: #d08b2b;
    margin-top: 700px;
}
.footer-section .footer-text {
	padding: 80px 0 30px;
}
.footer-section .footer-text .ft-about {
	margin-bottom: 30px;
}
.footer-section .footer-text .ft-about .logo {
	margin-bottom: 20px;
}
.footer-section .footer-text .ft-about .logo a {
	display: inline-block;
}
.footer-section .footer-text .ft-about p {
	color: #aaaab3;
	margin-bottom: 20px;
}
.footer-section .footer-text .ft-about .fa-social a {
	display: inline-block;
	height: 40px;
	width: 40px;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
	color: #ffffff;
	border: 1px solid #5A4D48;
	border-radius: 50%;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	margin-right: 7px;
}
.footer-section .footer-text .ft-about .fa-social a:hover {
	background: #dfa974;
	border-color: #dfa974;
}
.footer-section .footer-text .ft-contact {
	margin-bottom: 30px;
}
.footer-section .footer-text .ft-contact h6 {
	font-size: 14px;
	color: #dfa974;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 3px;
	font-family: "Cabin", sans-serif;
	margin-bottom: 20px;
}
.footer-section .footer-text .ft-contact ul li {
	font-size: 16px;
	color: #aaaab3;
	line-height: 32px;
	list-style: none;
}
.footer-section .footer-text .ft-newslatter h6 {
	font-size: 14px;
	color: #dfa974;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 3px;
	font-family: "Cabin", sans-serif;
	margin-bottom: 20px;
}
.footer-section .footer-text .ft-newslatter p {
	color: #aaaab3;
	margin-bottom: 20px;
}
.footer-section .footer-text .ft-newslatter .fn-form {
	position: relative;
}
.footer-section .footer-text .ft-newslatter .fn-form input {
	width: 100%;
	height: 50px;
	border-radius: 2px;
	background: #393D4A;
	border: none;
	padding-left: 20px;
	font-size: 16px;
	color: #707079;
}
.footer-section .footer-text .ft-newslatter .fn-form button {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 16px;
	background: #dfa974;
	color: #ffffff;
	padding: 0 16px;
	height: 50px;
	border: none;
	border-radius: 0 2px 2px 0;
}
.footer-section .copyright-option {
	background: rgba(16, 20, 31, 0.2);
	padding: 20px 0;
}
.footer-section .copyright-option ul li {
	list-style: none;
	display: inline-block;
	margin-right: 34px;
}
.footer-section .copyright-option ul li:last-child {
	margin-right: 0;
}
.footer-section .copyright-option ul li a {
	font-size: 16px;
	color: #aaaab3;
}
.footer-section .copyright-option .co-text {
	font-size: 16px;
	color: #707079;
	text-align: right;
}