@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
:root {
    --main-color:#f7a93d;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
ul {
    list-style:  none;
}
a {
    text-decoration: none;
    color: #ffffff;
}
.video-container {
  height: 100vh ;
  width: 100vw ;

}
.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
header {
    position: relative;
}
.header-top {
    background-color: #d08b2b;
}
.header-top ul {
   width: 100% ;
 list-style: none;
 display: flex;
 justify-content: flex-end;
 align-items: center;
}

.header-top ul li {
    height: 50px;
}
.header-top ul li:first-child {
    margin-right: auto;
    align-items: center;
    display: flex;
    padding-top: 10px;
}
.header-top ul li a {
   height: 100%;
    color: rgb(255, 255, 255);
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.header-top ul li a:hover {
    color: rgb(215, 129, 48);
    background-color: #f8f8f8;
  box-shadow: 0 0 0 5px #ced1d55f;
  transition: 0.3s;
}
.header-content-left {
    position: absolute;
    top: 50px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.1) ;
    padding: 30px 50px 0px 50px;
    text-align: center;
    width: 400px;
}
.header-content-left> h1 {
    color: snow;
}
form {
    background-color: rgb(255, 255, 255);
    padding: 20px 15px;
    margin-top: 20px;
    margin-left: 150px;
}
form h1 {
    color: darkslategrey;
    font-size: 27px;
}
form select,input {
    width: 300px;
    height: 38px;
    padding-left: 12px;
    outline: none;
    background-color: rgb(255, 255, 255);
    border: 1px solid #e0e0e0;
}
form p {
    text-align: left;
    color: #d08b2b;
    margin: 8px 0px 3px;
}
form button {
    height: 35px;
    margin-top: 15px;
    width: 250px;
    border: unset;
 border-radius: 5px;
 color: #e9dfdf;
 z-index: 1;
 background: #d08b2b;
 position: relative;
 font-weight: 1000;
 font-size: 17px;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 250ms;
 overflow: hidden;
 cursor: pointer;
}
form button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 5px;
    background-color: #e5ecf2;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   form button:hover {
    color: #060606;
   }
   
   form button:hover::before {
    width: 100%;
   }
   .header-content-right {
    position: absolute;
    top: 250px;
    right: 20px;
    width: 60%;
    height: 40%;
    color: #e5ecf2;

   }
   .header-content-right h1 {
    font-size: 45px;
    font-family: "Nanum Myeongjo", serif;
    font-weight: 600;
    font-style: normal;
   
   }

    .header-content-right p {
    margin-top: 10px;
    font-weight: 300;
   
    }


   .header-content-right  button >a {
    margin-top: 10px;
    position: absolute;
    background: none;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    text-decoration: underline;
    color: #ffffff;
    fill: #e0e0e0;
   }

   @media  (max-width: 575px) {
    .header-content-left {
        width: 100%;
    }
    .header-content-right {
        display: none;
    }
   }
   .header-about { 
        color:rgba(0, 0, 0, 1);
        width:511px;
        height:57px;
        position:absolute;
        left:211px;
        top:187px;
        font-family:Quando;
        text-align:left;
        font-size:50px;
        letter-spacing:0;
   }   
   

.bg { 
	background-color:#EEECDB;
	width:100%;
	height:100%;
	position:absolute;
    border: none;
}
.about { 
	color:rgba(0, 0, 0, 1);
	width:511px;
	height:57px;
	position:absolute;
	left:211px;
	top:187px;
	font-family:Quando;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.img2 { 
	width:464px;
	height:378px;
	position:absolute;
	left:722px;
	top:167px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.intro { 
	color:rgba(78.61170932650566, 70.42298913002014, 70.42298913002014, 1);
	width:603px;
	height:660px;
	position:absolute;
	left:54px;
	top:295px;
	font-family:Quantico;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.img3 { 
	width:460px;
	height:374px;
	position:absolute;
	left:720px;
	top:650px;
	background-image:url(images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.buton {
    background-color: #E99331;
    color: #ffffff;
	width: 300px;
	height:82px;
	position:absolute;
	left:202px;
	top:1079px;
	font-family:Quantico;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    font-weight: bold;
    transition: all .5s ease;
}
.buton:hover {
    background-color: #A0736E;
    opacity:0.8;
    width:350px ;
    height:70px ;

}

.video-start {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.start-content{
    position: absolute;
    top: 50px;
    left: 50px;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.1) ;
    padding: 30px 50px 0px 50px;
    text-align: center;
    width: 400px;
}

.MS {
    background-color: #E99331;
    color: aliceblue;
	width: 200px;
	height:61px;
	position:absolute;
	left:202px;
	top:1079px;
	font-family:Quantico;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    font-weight: bold;
    transition: all .5s ease;
}
.MS:hover {
    background-color: #A0736E;
    opacity:0.8;
    width:220px ;
    height:70px ;

}
.FS {
    background: #ffffff;
    margin-top:20% ;
    margin-left: 10%;
    margin-bottom: 20%;
    margin-right: 10%;
    width:80%;
    height: 50%;
}

.home{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(images/bghome.jpg);   
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
}

.home-infor{
    background-color: #f2f4fb;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1200px;

}

.home-table{
    display: block;
    border: solid;
    border-radius: 16px;
    border-style: hidden;
    background-color: #ffffff;
    height: 1100px;
    width: 1500px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.center{
    margin: auto;
    width: 50%;
    border: solid;
    border-style: hidden;
    padding: 10px;
    text-align: center;
    padding-top: 250px;
}

.head1{
    font-family: "Playfair Display", times, serif;
    font-size: 80px;
    color:floralwhite;
}

.head2{
    font-family: "Roboto", arial, sans-serif;
    font-size: 16px;
    line-height: 5;
    color:floralwhite;
}

.Headtext{
    float: left;
}

.About{ 
    color:rgba(78.61170932650566, 70.42298913002014, 70.42298913002014, 1);
	text-align:left;
    font-family:Quantico;
	font-size:32px;    
}

.US{
    font-family:Quantico;
	font-size:60px; 
    padding-left: 200px;
}
.column{
    float: left;
    padding-top: 100px;
}
.left1{
    width: 50%;
    padding-left: 100px;
}
.left{
   color:rgba(0, 0, 0, 1);
	height:57px;
    padding-left: 330px;
	font-family: Quando;
    display: flex;
    justify-content: left;
    align-items: center;
}

.right{
    width: 50%;
    padding-left: 100px;
    padding-top: 220px;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.Homebutton{
    background-color: #E99331;
    color: #ffffff;
	width: 300px;
	height:82px;
	font-family:Quantico;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
    border: none;
    border-radius: 11px;
    cursor: pointer;
    font-weight: bold;
    transition: all .5s ease;
}
.Homebutton:hover{
    background-color: #A0736E;
    opacity:0.8;
    transform: scale(1.1)
}

.Buttoncenter{
    padding-left: 170px;
    padding-top: 50px;
}


/*contactcss*/
.feedback {
    width: 500px;
    float: left;
    margin-left: 800px;
    position: absolute;
}
.anh img  {
    width: 700px;
    height: 470px;
    margin-left: 80px;
    position: absolute;
}
.anh1 img {
    width: 750px;
    height: 470px;
    margin-left: 80px;
    position: absolute;
}
.send {
    margin-left: 1090px;
    margin-top: 470px;
    margin-bottom: 20px;
   color: white;
   background-color: #797572;
	cursor: pointer;
}
.send:hover {background-color: black;}

/*-----------------
appointment section 
----------------*/
.appointment-section {
    width: 100%;
    height: 100%;
   color: rgb(0, 0, 0);
	cursor: pointer;
    margin-top: 300px;
    padding-left: 900px ;
}
.table {
    margin-top: -300px;
    border-spacing: 20px;
    
    
}
.sendapp {
    margin-left: 1100px;
    margin-bottom: 50px;
    margin-top: 30px;
    background-color: #7d7a7a;
    padding: 10px;
}
.sendapp:hover {
    background: #727272;
}
.contact .h1 {
    margin-left: 270px;

}
/*---------------------
  Footer Section
-----------------------*/

.footer-section {
	background: #d08b2b;
    
}
.footer-section .footer-text {
	padding: 80px 0 30px;
}
.footer-section .footer-text .ft-about {
	margin-bottom: 30px;
}
.footer-section .footer-text .ft-about .logo {
	margin-bottom: 20px;
}
.footer-section .footer-text .ft-about .logo a {
	display: inline-block;
}
.footer-section .footer-text .ft-about p {
	color: #fff;
	margin-bottom: 20px;
}
.footer-section .footer-text .ft-about .fa-social a {
	display: inline-block;
	height: 40px;
	width: 40px;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
	color: #ffffff;
	border: 1px solid #5A4D48;
	border-radius: 50%;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	margin-right: 7px;
}
.footer-section .footer-text .ft-about .fa-social a:hover {
	background: #dfa974;
	border-color: #dfa974;
}
.footer-section .footer-text .ft-contact {
	margin-bottom: 30px;
}
.footer-section .footer-text .ft-contact h6 {
	font-size: 14px;
	color: #151b40;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 3px;
	font-family: "Cabin", sans-serif;
	margin-bottom: 20px;
}
.footer-section .footer-text .ft-contact ul li {
	font-size: 16px;
	color: #fff;
	line-height: 32px;
	list-style: none;
}
.footer-section .footer-text .ft-newslatter h6 {
	font-size: 14px;
	color: #151b40;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 3px;
	font-family: "Cabin", sans-serif;
	margin-bottom: 20px;
}
.footer-section .footer-text .ft-newslatter p {
	color: #fff;
	margin-bottom: 20px;
}
.footer-section .footer-text .ft-newslatter .fn-form {
	position: relative;
}
.footer-section .footer-text .ft-newslatter .fn-form input {
	width: 100%;
	height: 50px;
	border-radius: 2px;
	background: #393D4A;
	border: none;
	padding-left: 20px;
	font-size: 16px;
	color: #707079;
}
.footer-section .footer-text .ft-newslatter .fn-form button {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 16px;
	background: #dfa974;
	color: #ffffff;
	padding: 0 16px;
	height: 50px;
	border: none;
	border-radius: 0 2px 2px 0;
}
.footer-section .copyright-option {
	background: rgba(16, 20, 31, 0.2);
	padding: 20px 0;
}
.footer-section .copyright-option ul li {
	list-style: none;
	display: inline-block;
	margin-right: 34px;
}
.footer-section .copyright-option ul li:last-child {
	margin-right: 0;
}
.footer-section .copyright-option ul li a {
	font-size: 16px;
	color: #fff;
}
.footer-section .copyright-option .co-text {
	font-size: 16px;
	color: #707079;
	text-align: right;
}
